{% extends 'blog/base.html' %}

{% block body %}

<h1 class="sofia center-align home white-text">
Read, write and share awesome Blogs
</h1>	
<br><br>
{% if not user.is_authenticated %}
<h5 class="sofia white-text center-align">
<a href="{% url 'login' %}" class="white-text">SignIn</a> / <a href="{% url 'register' %}" class="white-text">SignUp</a>
</h5>
{% endif %}
<br><br>
<footer class="page-footer black" style="opacity: 0.9;">
	<div class="footer-copyright">
		<div class="container">
			All right Reserved &copy; 2020 Copyright
			<div class="right">
				<a href="https://www.linkedin.com/in/abhishek-vaish-b3195817a/" target="blank" style="margin-right: 10px;" class="white-text">
					<i class="fab fa-linkedin-in small"></i>
				</a>
				<a href="https://github.com/Abhishekvaish" target="blank" style="margin-right: 10px;" class="white-text">
					<i class="fab fa-github small"></i>
				</a>
				<a href="https://twitter.com/Abhishekvaish40" target="blank" style="margin-right: 10px;" class="white-text">
					<i class="fab fa-twitter small"></i>
				</a>
				<a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=abhishek953566936222@gmail.com&tf=1" target="blank" class="white-text"><i class="fa fa-envelope small"></i>
				</a>
			</div>
		</div>
    </div>
</footer>
{% endblock %}