{% extends 'blog/base.html' %}

{% block body %}
<div class="row">
	<div class="col l10 offset-l1 m11 s12">
		<div class="card-panel" style="opacity: 1;">
			<a href="{% url 'blog:user_post' pk=post.author.pk name=post.author.first_name %}">
				<img src="{{post.author.profile.img.url}}" align="left" class="responsive-img circle" style="margin-right: 40px; margin-bottom: 20px;margin-left: 20px;margin-top: 10px;">
			</a>
			<h2>{{post.title}}</h2>
			<h5 class="josefin blue-text right-align">- {{post.author.first_name}} {{post.author.last_name}}</h5>
			<p class="right-align">{{post.created_on}}</p>
			<p class="flow-text">{{post.content}}</p>
		</div>
		{% if user == post.author %}
		<a href="{% url 'blog:edit' pk=post.pk %}" class="btn btn-floating white black-text tooltipped" 
		data-tooltip="edit" data-position="top">edit</a>
		<a href="{% url 'blog:delete' pk=post.pk %}" class="btn btn-floating white black-text tooltipped" 
		data-tooltip="delete" data-position="top">delete</a>
		{% endif %}
	</div>
</div>



{% endblock %}
