{% extends 'blog/base.html' %}

{% block body %}


<div class="row">
	<div class="col l10 offset-l1 m11 s12 card-panel" style="opacity: 1;">
		<div class="row ">
			<img src="{{author.profile.img.url}}" align="left" class="responsive-img circle" style="margin-right: 40px; margin-bottom: 20px;margin-left: 20px;margin-top: 30px;">
			<br><br>
			<h3 class="cursive" style="margin-top: 30px;">{{author.first_name}} {{author.last_name}}</h3>
			<p>{{author.email}}</p>
		</div>
		<ul class="collapsible popout">
			{% for post in post_list %}
				<li>
					<div class="collapsible-header blue lighten-4">
						{{post.title|title}}<br>
						{{post.created_on}}
					</div>
					<div class="collapsible-body">
						<p class="cursive">{{post.content|linebreaksbr|truncatechars:100}}</p>
						<a href="{% url 'blog:detail' pk=post.pk  author=post.author.first_name %}" 
						class="btn blue lighten-4 black-text">View Article</a>
					</div>
				</li>
			{% endfor %}
		</ul>
		<br>
	</div>
</div>

{% if user.is_authenticated %}
	<div class="fixed-action-btn">
	<a href="{% url 'blog:new_post' %}" class="btn-floating btn-large white pulse">
			<i class="material-icons black-text tooltipped" data-tooltip="New Post" data-position="left">create</i>
	</a>
	</div>
	{% endif %}

{% if is_paginated %}
	<div class="center">
	<ul class="pagination ">
		{% if page_obj.has_previous %}
			<li class="transparent ">
				<a href="?page={{page_obj.previous_page_number}}" class="circle white black-text">
					&lsaquo;
				</a>
			</li>
		{% endif %}
		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<li class="active transparent">
					<a href="?page={{num}}" class="circle black white-text">{{num}}</a>
				</li>
			{% else %}
				<li class=" transparent black-text">
					<a href="?page={{num}}" class="circle white">{{num}}</a>
				</li>
			{% endif %}
		{% endfor %}
			{% if page_obj.has_next %}
			<li class="transparent ">
				<a href="?page={{page_obj.next_page_number}}" class="circle white black-text">
					&rsaquo;
				</a>
			</li>
		{% endif %}
	</ul>
	</div>
{% endif %}


{% endblock %}