{% extends 'blog/base.html' %}

{% block body %}
<div class="row">
	<div class="col l8 offset-l2 m10 offset-m1 s12">
		<div class="card-panel profile">
			<div class="col l4">
				<img src="{{ user.profile.img.url }}" class="responsive-img circle">
				<h5 class="josefin center-align">{{user.first_name}} {{user.last_name}}</h5>
			</div>
			<div class="col l8">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}	
					{% for field in u_form %}
						<div class="input-field">
							{{ field }}
							{{field.label_tag}}
						</div>
					{% endfor %}
					

					{% for field in p_form %}
						<label for="field.auto_id"> {{field.label}}</label><br>
						{{ field }}
					{% endfor %}
					
					<div class="right">
						<button class="btn waves-effect large" type="submit">Update</button>
					</div>
				</form>
			</div>
			.
		</div>
	</div>
</div>
<h1 class="center-align sofia white-text">{{ user.email }}</h1>
{% endblock %}